#site-wrapper {
    position: relative;
    z-index: 1;
    background-color: #fff;
    -webkit-transition: opacity .2s linear,z-index linear,-webkit-transform .4s;
    transition: opacity .2s linear,z-index linear,-webkit-transform .4s;
    -o-transition: transform .4s,opacity .2s linear,z-index linear;
    transition: transform .4s,opacity .2s linear,z-index linear;
    transition: transform .4s,opacity .2s linear,z-index linear,-webkit-transform .4s;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
html body {
    text-rendering: auto !important;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans",sans-serif;
}
:root {
    --tcb-color-0: rgb(32, 100, 148);
    --tcb-color-1: rgb(255, 103, 31);
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
html {
    text-rendering: auto !important;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}